{% extends "base.html" %}

{% block title %} О словаре {% endblock %}

{% block keyword %}заимствования{% endblock %}

{% block li %}
        li {
            margin-left: 50px;
        }
{% endblock %}

{% block content %}

<div class="icerik" style="text-align: left; font-size: 21px; width: fit-content; margin-left: 10%; margin-right: 10%; margin-top: 200px;">
    <h3 style="font-size: 29px; text-decoration: underline;">Что Такое Русловарь?</h3><br>
        <p>Задача этого словаря — короче, подавать исконно Русские слова вместо заимствований, которые часто говорят говоря по-Русски, чтобы был Русский язык более чистым как и можно.</p><br>
                
        <p>А зачем какому-то языку нужно стать чистым? Это необходимо для того, чтобы и защищать образование народа, и обеспечивать понимания каждых слов яснее для всех, кто из каждых частьях общества. Это также помогает иностранцам об изучении языка. Так как кто-то изучающий иностранного языка, если может понять только корень слова, которого никогда не видел раньше, то также может понять значение того слова неизвестного без труда.</p><br>
                
        <p>Пожалуйста не забудьтесь, что тот словарь пока в степени развития. Поэтому очевидно то, что в настоящее время тот словарь не такой достаточный и ещё много заимствованные слова отсутствуют.</p>
            <br><br>

    <h3 style="font-size: 29px; text-decoration: underline;">Можно Доверять Сданным Знаниям Происхождений?</h3><br>
        <p>Русловарь просто даёт знание о том, что от какого языка заимствовано какое-то иноязычное слово в Русском языке. А не сдано точные знания происхождений, так как это не является словарём происхождений. То есть, какое-то заимствованное слово в Русском языке, также могло быть заимствованным тоже для того языка, от которого Русский язык заимствовал.</p><br>

        <p>Знания происхождений получаются слишком подробные, и часто никакое слово не происходит только из одного источника. То есть, обычно каждое заимствованное слово имеет историю великого путешествия между различными языками, пока не дошло до языку, на котором мы говорим.</p><br>

        <p>Поэтому, если вам требуется точное знание происхождения какого-нибудь слова, то нужно исследовать в этимологических словарях как и словарь Фасмера.</p>
            <br><br>
    <h3 style="font-size: 29px; text-decoration: underline;">Кто Стоит За Русловаром?</h3><br>
        <p>Русловарь был создан в 1 января 2024 году только одним человеком, которого зовут Саваш Шахин, и он же ещё самостоятельно продолжает улучшить Русловарь постопенно. </p>
            <br><br>
    <h3 style="font-size: 29px; text-decoration: underline;">Какие Источники Лежат Под Русловаром?</h3><br>
        <p>Все источники используемые за создание этого словаря находятся внизу:</p><br>
            <ul>
                <li style="list-style-type: circle;">Тольковый словар Русского языка Ожегова С. И.</li><br/>
                <li style="list-style-type: circle;">Большой толковый словарь Русского языка Кузнецова С. А.</li><br/>
                <li style="list-style-type: circle;">Толковый словарь Русского языка Даля В. И.</li><br/>
                <li style="list-style-type: circle;">Малый академический словарь под ред. Евгеньевой А. П.</li><br/>
                <li style="list-style-type: circle;">Толково-словообразовательный словарь Русского языка Ефремовой Т. Ф.</li><br/>
                <li style="list-style-type: circle;">Толковый словарь Русского языка Ушакова Д. Н.</li><br/>
                <li style="list-style-type: circle;">Словарь синонимов и сходных по смыслу выражений Абрамова Н.</li><br/>
                <li style="list-style-type: circle;">Словарь синонимов. Практический справочник. Александровой Е. З.</li><br/>
                <li style="list-style-type: circle;">Этимологический словарь Русского языка Фасмера М.</li><br/>

            </ul><br>

            <p style="text-decoration: underline;">Сетевые источники:</p><br>
            <ul>
                <li style="list-style-type: circle;">Викисловарь</li><br/>
                <li style="list-style-type: circle;">Etymonline</li><br/>
                <li style="list-style-type: circle;">Etymologeek</li><br/>
                <li style="list-style-type: circle;">Lexicography Online</li>
            </ul>
                    
            <br><br>

    <h3 style="font-size: 29px; text-decoration: underline;">Какие Языки Программирования Исьпользуются в Русловаре?</h3><br>
            <p>Передняя часть этой сети чисто написана с HTML и CSS, а на задней части используется Python с остовом Django, и данные сохраняются в PostgreSQL. А только для поиска, немного использован JavaScript.</p>
    <br><br>

    <h3 style="font-size: 29px; text-decoration: underline;">Как Можно Поддержать Русловарь?</h3><br>
            <p>Не требуются деньги если вы хотите поддерживать Русловарь, но и можно только со словами. Нужны еще много слова, чтобы растить тот словарь. Если у вас в голове есть слова, которых пока в словаре нет, можно предлагать их.</p><br>

            <p>Связь: pismo@ruslovar.com</p>

</div>

{% endblock %}